/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# .env
.env.backup
.env.production
.phpunit.result.cache
.env

docker-compose.override.yml
# Firebase service account JSON
storage/app/firebase/*.json


Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

!/public/assets
!/public/assets/*
/public/css
/public/js

!/public/build
!/public/build/*
